@import "../common.css";

.logo {
  color: var(--text-color);
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.result-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: white;
  display: flex;
}

.picture {
  width: 40%;
  padding: 0;
  overflow: hidden;
}

.img {
  width: 100%;
}

.text-box {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.title {
  margin-top: 0;
  height: 15%;
  margin-bottom: 0;
  text-align: center;
}

.line {
  width: 80%;
  background: var(--red-color);
  height: 5px;
  margin-top: 0;
  padding: 0;
}

.description {
  margin-top: 1rem;
  text-align: center;
}
