@import url("https://fonts.googleapis.com/css2?family=family=Montserrat:wght@200;400&&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0;
  background: #f3f3fb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(48, 48, 48);
}

.logo {
  color: rgb(48, 48, 48);
  margin-top: 1.5rem;
  margin-bottom: 3.5rem;
}

.quiz-container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: white;
  width: 80vw;
  height: 65vh;
  padding: 2rem 3.5rem 3rem 3.5rem;
}

.counter {
  margin-bottom: 2rem;
}

.question {
  margin-bottom: 3rem;
}

.answerbox {
  display: flex;
  height: 55%;
  gap: 2rem;
}

.answer {
  border: 1px solid rgb(219, 219, 219);
  flex: 1;
}
