@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Roboto:wght@100;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    URL("../images/pizza3.jpg") center/cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.quiz-container {
  background: rgba(163, 110, 86, 0.9);

  /* box-shadow: 0px 0px 8px 2px; */
  width: 80vw;
  height: 75vh;
  text-align: center;
}
