@import "./common.css";

.quiz-choice {
  margin-top: var(--margin-top-mobile);
}

.quiz-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 80%;
  height: 60vh;
}

.quiz {
  flex: 1;
  height: 100%;
  background: var(--text-color);
}

.pizza {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    URL("../images/pizza4.jpg") center/cover;
  background-size: 100%;
}
.quiz-name {
  margin: 0;
  padding: 6rem 1rem;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 4.5rem;
}

a {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 600px) {
  .quiz-choice {
    margin-top: 5rem;
  }

  .quiz-box {
    flex-direction: row;
  }

  .quiz {
    transform: scale(1);
    transition: all 0.5s;
  }

  .quiz:hover {
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    transform: scale(0.9);
    transition: all 0.5s;
  }

  @media (prefers-reduced-motion) {
    .quiz {
      transform: none;
    }
    .quiz:hover {
      transform: none;
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    }
  }
}
